nz-footer {
  text-align: center;
}

.logo{
  display: block;
  margin: 0 auto;
}

h3{
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  font-weight: 700;
}

p>a{
  text-decoration: none;
  color: black;
}

p>a:hover{
  color: rgb(0, 140, 255);
}

.end-footer{
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
